@font-face {
  font-family: Poppins;
  src: url(./font/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(./font/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: Google Sans;
  src: url(./font/Open_Sans/OpenSans-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: Volkhov;
  src: url(font/Volkhov/Volkhov-Regular.ttf);
}
.logo {
  background: #ffffff;
}

html {
  position: relative;
}

body {
  margin: 3% 10% 0 10%;
  font-family: Poppins;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  color: #212832;
}

.navbar-nav a {
  font-size: 0.83rem;
  padding: 0.5rem 1.4rem !important;
  border-radius: 5px;
  border: 1px solid transparent;
}

.navbar-nav a:hover {
  border: 1px solid #212832;
  box-sizing: border-box;
  border-radius: 5px;
}

.navbar-nav a.active {
  border: 1px solid #212832;
  box-sizing: border-box;
  border-radius: 5px;
}
.d-flex--menu {
  margin: 0;
}

.decore .decore__elipse {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -28%;
  background: #d5aee4;
  opacity: 0.8;
  filter: blur(9.5rem);
  width: 20rem;
  height: 20rem;
}

.decore .decore__ellipse2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.decore .decore__random {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}

.decore__img__random {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.decore .decore__line {
  position: absolute;
  z-index: -1;
  top: 27%;
  left: 50%;
}

.desc {
  margin-top: 6rem;
}

.desc .desc__tagline {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #df6951;
}

.desc .desc__heading {
  position: relative;
  margin-top: 1.5rem;
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 5.25rem;
  line-height: 5.6rem;
  letter-spacing: -0.04em;
  color: #181e4b;
}

.desc .desc__text {
  margin-top: 2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  color: #5e6282;
}

.desc__img {
  position: absolute;
  /* max-width: 50%; */
  right: 9%;
  top: 3%;
}

.desc__img__traveller {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.desc__img__plane1 {
  position: absolute;
  top: 7%;
  left: 17%;
}

.desc__img__plane2 {
  position: absolute;
  top: 13%;
  left: 79%;
}

.cta {
  margin-top: 2rem;
}

.btn--cta {
  width: 10.5rem !important;
  height: 3.5rem !important;
  background: #f1a501;
  box-shadow: 0 1.25rem 2.25rem rgba(241, 165, 1, 0.15);
  border-radius: 0.625rem;
  color: #ffffff;
  font-family: Google Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
}
.btn--cta__play {
  margin: 0.4rem;
  width: 3rem;
  height: 3rem;
  color: #ffffff;
  background: #df6951;
  box-shadow: 0 1rem 2rem rgba(223, 105, 81, 0.3);
}

.cta-text {
  padding: 0.9rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.06rem;
  line-height: 1.5rem;
  color: #686d77;
}

.category {
  position: relative;
  margin-top: 16rem;
  margin-bottom: 2rem;
}

.category .decore__plus {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -8%;
}

.decore__plus img {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.category .category__heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 1.7rem;
  text-align: center;
  color: #5e6282;
}

.category .category__tagline {
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 3.12rem;
  line-height: 4rem;
  text-align: center;
  text-transform: capitalize;
  color: #14183e;
}
.category-horizontal {
  margin-top: 4rem;
}
.category .category__card {
  position: relative;
  z-index: 1;
  border: 0;
  margin: 0 1.125rem 0 1.125rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

.category__card--img {
  margin: 2.5rem 0 1rem 0 !important;
  width: 50%;
  height: 6rem;
}

.category .category__name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.7rem;
  text-align: center;
  color: #1e1d4c;
}

.category .category__text {
  padding: 0.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.65rem;
  text-align: center;
  color: #5e6282;
}

.category__card:hover {
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02),
    0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px #00000002,
    0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.category-rec {
  position: relative;
  z-index: 0;
  bottom: 15%;
  left: -5%;
  width: 6rem;
  height: 6rem;
  background: #df6951;
  border-radius: 1.875rem 0 0.625rem;
  visibility: hidden;
}

.category__card:hover + .category-rec {
  visibility: visible;
}

/* destination UI */
.dest {
  margin-top: 2rem;
}

.dest .dest__heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.7rem;
  text-align: center;
  color: #5e6282;
}

.dest .dest__tagline {
  margin-top: 0.6rem;
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 4rem;
  text-align: center;
  text-transform: capitalize;
  color: #14183e;
}

.dest .dest__horizontal {
  margin-top: 3.75rem;
}

.dest .dest__card {
  position: relative;
  z-index: 1;
  padding: 0;
  border: 0;
  margin: 0 1.125rem 0 1.125rem;
  border-radius: 1.5rem;

  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}
.dest__card--img {
  border-radius: 1.5rem 1.5rem 0 0;
}

.card-body--dest {
  padding: 0 !important;
}

.dest .dest__name {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 124.5%;
  color: #5e6282;
}

.dest .dest__total {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 124.5%;
  color: #5e6282;
}

.dest .dest__day {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 124.5%;
  color: #5e6282;
}
/* .dest__card:hover {
  margin: 0 .25rem 0 2rem;
} */
.dest__card:hover + .dest__decore {
  visibility: visible;
}
.dest .dest__decore {
  position: relative;
  /* top: 10%; */
  bottom: -45%;
  right: -83%;
  visibility: hidden;
}
/* book Trip */

.bookTrip {
  margin-bottom: 2.5rem;
  position: relative;
  top: -6.25rem;
}

.decore-bookTrip {
  position: absolute;
  top: 0%;
  right: 5%;
  width: 22rem;
  height: 22rem;
  background: #59b1e6;
  border-radius: 100%;
  opacity: 0.8;
  filter: blur(10rem);
}

.bookTrip .bookTrip__heading {
  margin: 1rem 0 1.5rem 0;
  padding-right: 1rem;
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 4rem;
  text-transform: capitalize;
  color: #14183e;
}

.bookTrip .bookTrip__tagline {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.7rem;
  text-align: center;
  color: #5e6282;
}

.bookTrip .bookTrip__steps {
  padding-right: 7rem;
}
.card-body--values {
  padding: 1rem 3rem 1rem 1.3rem;
}
.card-values {
  text-align: left;
  margin: 0.5rem 0 0.5rem 0;
}
.card-values .card-values__card {
  border: 0rem;
}
.card-values .card-values__icon {
  border-radius: 0.8125rem;
  position: absolute;
  top: 15%;
}

.btn--values {
  border: 0;
  width: 3rem;
  height: 3rem;
  color: hsl(0, 0%, 100%);
}
.btn--values--chooseDest {
  background: #f0bb1f;
}

.btn--values--makePayment {
  background: #f15a2b;
}

.btn--values--reachAirport {
  background: #006380;
}
.card-values .card-values__title {
  font-family: Poppins-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 124.5%;
  color: #5e6282;
}

.card-values .card-values__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 124.5%;
  color: #5e6282;
}
.bookTrip .bookTrip__card {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border: 0rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 1.5rem;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.card-body--bookTrip {
  padding: 1rem 0 1rem 0;
}

.bookTrip__card--img {
  border-radius: 1.5rem;
}

.bookTrip__card .bookTrip__card__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
  margin-bottom: 0.8rem;
}

.bookTrip__card .bookTrip__card__subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 124.5%;
  letter-spacing: -0.005em;

  color: #84829a;
  margin-bottom: 1.25rem;
}
.btn--option {
  margin-right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #f5f5f5;
  color: #84829a;
  margin-bottom: 2rem;
  border: 0;
}
.bookTrip__card__option .bookTrip__card__option__icon {
  color: #84829a;
}
.bookTrip__card__quantity {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 124.5%;
  letter-spacing: -0.02em;
  color: #84829a;
}

.bookTrip__card__icon-heart {
  color: #4152ca;
}
.ongoing {
  width: 80%;
  position: absolute;
  top: 49%;
  left: 60%;
}
.card-ongoing {
  text-align: left;
  margin-bottom: 0.25rem;
}
.card-ongoing .card-ongoing__card {
  border: 0rem;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 1.125rem;
}
.card-ongoing .card-ongoing__img {
  margin-left: 1.25rem;
  border-radius: 0.8125rem;
  position: absolute;
  top: 15%;
  width: 3.125rem;
  height: 3.125rem;
}

.card-ongoing .card-ongoing__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 124.5%;
  letter-spacing: -0.035em;
  color: #84829a;
}

.card-ongoing .card-ongoing__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 124.5%;
  letter-spacing: -0.015em;
  color: #080809;
}

.card-ongoing .card-ongoing__percent {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 124.5%;
  letter-spacing: -0.055em;
}

.progress {
  height: 5px;
  background-color: #f5f5f5;
}
.progress-bar {
  background-color: #8a79df;
}

/* testimonial */

.testi {
  position: relative;
  /* padding: 0 .75rem 0 .75rem; */
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.testi .testi__horizontal {
  margin: 0.5rem 0 3rem 0;
}

.testi .testi__tagline {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.7rem;
  color: #5e6282;
}

.testi .testi__heading {
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 4rem;
  text-transform: capitalize;
  color: #14183e;
}

.carousel-indicators {
  /* margin-bottom: -5rem !important; */
  /* float: left !important; */
  right: auto;
  margin-left: auto;
}

.carousel-indicators [data-bs-target] {
  /* width: 10px; */
  width: 0.75rem;
  margin-right: 20px;
  height: 0.75rem;
  border-radius: 50%;
}

.testi .testi__slider {
  margin-top: 5rem;
}

.testi__slider__active {
  /* color: #39425d; */
}

.testi__card {
  position: relative;
  border: 0rem;
  border-radius: 0.625rem;
}

.testi__card--hide {
  border: 0.125rem solid #f7f7f7;
  position: absolute;
  z-index: 0;
  top: 27%;
  left: 12%;
}
.testi__card--show {
  z-index: 1;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.testi__card__img {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -9%;
  left: -6%;
  /* margin-left: 20px; */
  /* border-radius: 13px; */
}
.testi__card__text {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  width: 90%;
  color: #5e6282;
  margin-bottom: 2rem;
}
.testi__card__name {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 3.375rem;
  color: #5e6282;
}
.testi__card__info {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #5e6282;
}

.card-testi {
  /* margin: 1rem 0 2rem 0; */

  position: relative;
  border: 0;
}

.card-body--testi-lg {
  padding: 1.5rem 2rem 7rem 2rem !important;
}

.card-body--testi-sm {
  padding: 2rem 1rem 1.5rem 2rem;
}

.carousel-indicators--testi {
  padding: 0 0.75rem 0 0.75rem;
  position: absolute;
  top: 60%;
  left: -92%;
}

.testi-chevron {
  padding: 1.5rem 0 1.5rem 0;
}

.testi-chevron--up {
  color: #bcb7c2;
}

.testi-chevron--down {
  color: #3e2e4d;
  /* border: 2px solid #3e2e4d; */
  font-weight: bold;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

/* logos */

.logos {
  margin: 3.5rem 0 5rem 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.card--logos {
  /* border: 0; */
  padding: 1.5rem 2rem 1.5rem 2rem;
  /* background: red; */
  border-radius: 0.625rem;
}

.logos-card-img {
  width: 10rem;
  height: 2rem;
  /* padding: 1rem; */
}

.card--logos:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 0.625rem;
}

/* subscribe */

.sub {
  margin-top: 9.5rem;
  margin-bottom: 9.5rem;
  position: relative;
}

.decore__plus2 {
  position: absolute;
  /* top: 0; */
  bottom: -18%;
  right: -9%;
}

.decore__plus2 img {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.decore__circle {
  position: absolute;
  bottom: 0%;
  left: -8%;
}

.decore__circle2 {
  position: absolute;
  bottom: 12%;
  right: 0%;
}

.decore__circle img {
  margin-left: 0;
  margin-right: auto;
  display: block;
}

.decore__circle2 img {
  margin-left: auto;
  margin-right: 0;
  display: block;
}
.sub-img {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background: #dfd7f9;
  border-radius: 1.25rem 8rem 1.25rem 1.25rem;
  opacity: 0.2;
  /* width: 1170; */
  height: 25rem;
}
.sub-text {
  text-align: center;
  margin: 2.5rem 6.25rem 4.625rem 6.25rem;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.375rem;
  color: #5e6282;
}
.input-group {
  padding-right: 1.5rem;
  width: 80%;
  height: 4.25rem;
  border-radius: 0.625rem !important;
}
.email-icon {
  padding: 0 0.5rem 0 2rem;
  border: 0;
  border-radius: 0.625rem 0rem 0rem 0.625rem !important;
}

.btn--sub {
  font-size: 1rem;
  color: #ffffff;
  height: 4.25rem;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 0.625rem;
}

.sub-icon {
  position: absolute;
  top: -5%;
  left: 96%;
}
.btn--sub-icon {
  width: 4.375rem;
  height: 4.375rem;
  font-size: 2rem;
  color: #ffffff;
  border-radius: 100%;
  background: linear-gradient(201.65deg, #747def 10.27%, #5e3be1 100%);
}

.card--sub {
  border: 0;
}

input {
  border-width: 0 !important;
  border-radius: 0rem 0.625rem 0.625rem 0rem !important;
}

/* footer */

footer {
  margin-top: 10.4rem;
  margin-bottom: 5rem;
}

.company-desc {
}

.discover {
  margin-top: 0.5rem;
}

.btn--fb {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.75rem;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.btn--instagram {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.75rem;
  border: 0;
  border-radius: 100%;
  color: #ffffff;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #b8d2f1 0deg,
    #f289aa 60deg,
    #c68bf0 106.09deg,
    #d164da 153.75deg,
    #c963e8 221.25deg,
    #bfc2e8 258.75deg,
    #ffc999 288.75deg,
    #d0d8c9 315deg,
    #bad0f1 334.13deg,
    #ced8cb 358.97deg,
    rgba(255, 255, 255, 0) 360deg
  );
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn--twitter {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.75rem;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.discover-our-app {
  margin: 1.6rem 0 1rem 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 124.5%;
  letter-spacing: 0.005em;
  color: #5e6282;
}

.btn--discover {
  /* margin-left: 0.5rem; */
  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2.25rem;
  height: 2.25rem;
  background: black;
  color: #ffffff;
  border-radius: 1.125rem;
}
.col--discover-icon {
  /* padding-left: 1rem !important; */
  /* margin-right: 0.625rem; */
}

.col--discover-text {
  padding-right: 0;
  padding-left: 0.8rem !important;
}

.col--discover {
  padding: 0 0.4rem 0 0 !important;
}

.row--discover {
  padding-left: 0.75rem;
}

.btn--discover--available {
  font-family: Poppins-Bold;
  font-weight: bold;
  color: #ffffff;
  font-size: 0.5rem;
}

.btn--discover--app {
  color: #ffffff;
  font-size: 0.5rem;
}

.btn--discover--apple-available {
  color: #ffffff;
  font-size: 0.3rem;
  font-family: Poppins-Bold;
}

.btn--discover--apple-app {
  font-family: Poppins-Bold;
  font-weight: bold;
  color: #ffffff;
  font-size: 0.6rem;
}

.name {
  /* margin-bottom: 1.2rem; */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 2.75rem;
  line-height: 4.125rem;
  color: #181e4b;
}

.tagline {
  padding-right: 2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 124.5%;
  color: #5e6282;
}

.title {
  margin-bottom: 1.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3125rem;
  line-height: 124.5%;
  color: #080809;
}

.detail {
  margin-bottom: 0.75rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 124.5%;
  color: #5e6282;
}

.copyrights {
  margin-top: 5.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 124.5%;
  color: #5e6282;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background: lightblue;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo {
    background: #ffffff;
  }
  body {
    background: lightgreen;
    margin: 3% 10% 0 10%;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }

  .navbar-nav a {
    padding: 0.5rem 1rem !important;
    font-size: 0.64rem;
  }

  .decore .decore__elipse {
    top: 0;
    bottom: 0;
    left: -28%;
    width: 20rem;
    height: 20rem;
  }

  .decore .decore__ellipse2 {
    bottom: 0;
    right: 0;
  }

  .decore .decore__random {
    z-index: 0;
    top: 0;
    right: 0;
  }
  .decore__img__random {
    width: 75%;
  }
  .decore .decore__line {
    z-index: -1;
    top: 27%;
    left: 50%;
  }

  .desc {
    margin-top: 3rem;
  }

  .desc .desc__tagline {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .desc .desc__heading {
    margin-top: 1rem;
    font-size: 3.25rem;
    line-height: 3.6rem;
    letter-spacing: -0.04em;
  }

  .desc .desc__text {
    margin-top: 1rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .desc__img {
    right: 1%;
    top: 1%;
  }

  .desc__img__traveller {
    width: 60%;
    margin-right: 0;
  }
  .desc__img__plane1 {
    top: -1%;
    left: 47%;
  }

  .desc__img__plane2 {
    top: 4%;
    left: 79%;
    visibility: hidden;
  }

  .cta {
    margin-top: 0.8rem;
  }

  .btn--cta {
    width: 6.5rem !important;
    height: 2.25rem !important;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .btn--cta__play {
    margin: 0.1rem;
    width: 2rem;
    height: 2rem;
    padding: 0.325rem 0.325rem;
  }

  .cta-text {
    padding: 0.4rem;
    font-size: 0.75rem;
    line-height: 1.5rem;
  }

  .category {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .category .decore__plus {
    top: 0;
    bottom: 0;
    right: -8%;
  }
  .decore__plus img {
    width: 50%;
  }
  .category .category__heading {
    font-weight: 600;
    font-size: 1.12rem;
    line-height: 1.7rem;
  }

  .category .category__tagline {
    font-size: 3.12rem;
    line-height: 4rem;
  }
  .category-horizontal {
    margin-top: 4rem;
  }
  .category .category__card {
    z-index: 1;
    border: 0;
    margin: 0 1.125rem 0 1.125rem;
    border-radius: 2rem;
  }

  .category__card--img {
    margin: 2.5rem 0 1rem 0 !important;
    width: 30%;
    height: 4.5rem;
  }

  .category .category__name {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.7rem;
  }

  .category .category__text {
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.65rem;
  }
  .category-rec {
    bottom: 15%;
    left: -5%;
    width: 6rem;
    height: 6rem;
    border-radius: 1.875rem 0 0.625rem;
  }

  /* destination UI */
  .dest {
    margin-top: -3rem;
  }

  .dest .dest__heading {
    font-size: 1.125rem;
    line-height: 1.7rem;
  }

  .dest .dest__tagline {
    margin-top: 0.6rem;
    font-size: 3.125rem;
    line-height: 4rem;
  }

  .dest .dest__horizontal {
    margin-top: 3.75rem;
  }

  .dest .dest__card {
    padding: 0;
    border: 0;
    margin: 0 1.125rem 0 1.125rem;
  }
  .dest__card--img {
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .card-body--dest {
    padding: 0 !important;
  }

  .dest .dest__name {
    font-size: 1rem;
    line-height: 124.5%;
  }

  .dest .dest__total {
    font-size: 1rem;
    line-height: 124.5%;
  }

  .dest .dest__day {
    font-size: 0.9rem;
    line-height: 124.5%;
  }

  .dest .dest__decore {
    bottom: 40%;
    right: -85%;
  }
  /* book Trip */

  .bookTrip {
    margin-bottom: 2.5rem;
    top: -8.25rem;
  }

  .decore-bookTrip {
    top: 0%;
    right: 5%;
    width: 22rem;
    height: 22rem;
  }

  .bookTrip .bookTrip__heading {
    margin: 1rem 0 1.5rem 0;
    padding-right: 1rem;
    font-size: 3.125rem;
    line-height: 4rem;
  }

  .bookTrip .bookTrip__tagline {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.7rem;
  }

  .bookTrip .bookTrip__steps {
    padding-right: 7rem;
  }
  .card-body--values {
    padding: 1rem 2rem 1rem 2rem;
  }
  .card-values {
    text-align: left;
    margin: 0.5rem 0 0.5rem 0;
  }
  .card-values .card-values__card {
    border: 0rem;
  }
  .card-values .card-values__icon {
    border-radius: 0.8125rem;
    top: 15%;
  }

  .btn--values {
    border: 0;
    width: 3rem;
    height: 3rem;
  }

  .card-values .card-values__title {
    font-size: 1rem;
    line-height: 124.5%;
  }

  .card-values .card-values__text {
    font-size: 1rem;
    line-height: 124.5%;
  }
  .bookTrip .bookTrip__card {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: 0rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 1.5rem;
  }

  .card-body--bookTrip {
    padding: 1rem 0 0 0;
  }

  .bookTrip__card--img {
    border-radius: 1.5rem;
  }

  .bookTrip__card .bookTrip__card__title {
    font-size: 1rem;
    line-height: 124.5%;
    letter-spacing: 0.015em;
    margin-bottom: 0.8rem;
  }

  .bookTrip__card .bookTrip__card__subtitle {
    font-size: 0.875rem;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    margin-bottom: 1.25rem;
  }
  .btn--option {
    font-size: 0.7rem;
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 2rem;
    border: 0;
  }

  .bookTrip__card__quantity {
    font-size: 0.8rem;
    line-height: 124.5%;
    letter-spacing: -0.02em;
  }

  .bookTrip__card__icon-heart {
  }
  .ongoing {
    width: 80%;
    top: 47%;
    left: 50%;
  }
  .card-ongoing {
    margin-bottom: 0.25rem;
  }

  .card-ongoing .card-ongoing__img {
    margin-left: 1.25rem;
    top: 15%;
    width: 2.75rem;
    height: 2.75rem;
  }

  .card-ongoing .card-ongoing__title {
    font-size: 0.75rem;
    line-height: 124.5%;
    letter-spacing: -0.035em;
  }

  .card-ongoing .card-ongoing__text {
    font-size: 1rem;
    line-height: 124.5%;
    letter-spacing: -0.015em;
  }

  .card-ongoing .card-ongoing__percent {
    font-size: 0.875rem;
    line-height: 124.5%;
    letter-spacing: -0.055em;
  }

  .progress {
    height: 5px;
  }

  /* testimonial */

  .testi {
    margin-top: -3rem;
    margin-bottom: 3rem;
  }

  .testi .testi__horizontal {
    margin: 0.5rem 0 3rem 0;
  }

  .testi .testi__tagline {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.7rem;
  }

  .testi .testi__heading {
    font-size: 3.125rem;
    line-height: 4rem;
  }

  .carousel-indicators {
    right: auto;
    margin-left: auto;
  }

  .carousel-indicators [data-bs-target] {
    width: 0.75rem;
    margin-right: 20px;
    height: 0.75rem;
  }

  .testi .testi__slider {
    margin-top: 5rem;
  }
  .testi__card--hide {
    top: 27%;
    left: 16%;
  }

  .testi__card__img {
    width: 3rem;
    height: 3rem;
    top: -9%;
    left: -6%;
  }
  .testi__card__text {
    font-size: 0.75rem;
    line-height: 1.5rem;
    width: 90%;
    margin-bottom: 0.5rem;
  }
  .testi__card__name {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 2rem;
  }
  .testi__card__info {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }

  .card-body--testi-lg {
    padding: 1.5rem 2rem 7rem 2rem !important;
  }

  .card-body--testi-sm {
    padding: 2rem 1rem 1.5rem 2rem;
  }

  .carousel-indicators--testi {
    padding: 0 0.75rem 0 0.75rem;
    top: 60%;
    left: -92%;
  }

  .testi-chevron {
    padding: 1.5rem 0 1.5rem 0;
  }

  /* logos */

  .logos {
    margin: 3.5rem 0 5rem 0;
  }

  .card--logos {
    padding: 0.5rem;
  }

  .logos-card-img {
    width: 6.5rem;
    height: 2rem;
  }

  /* subscribe */

  .sub {
    margin-top: 6.5rem;
    margin-bottom: 5.5rem;
  }

  .decore__plus2 {
    bottom: -14%;
    right: -9%;
  }

  .decore__plus2 img {
    width: 50%;
  }

  .decore__circle {
    bottom: 0%;
    left: -8%;
  }

  .decore__circle2 {
    bottom: 12%;
    right: 0%;
  }

  .decore__circle img {
  }

  .decore__circle2 img {
  }

  .sub-img {
    height: 20rem;
  }
  .sub-text {
    margin: 2.5rem 6.25rem 2.625rem 6.25rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3.375rem;
  }
  .input-group {
    padding-right: 1.5rem;
    width: 80%;
    height: 4.25rem;
  }
  .email-icon {
    padding: 0 0.5rem 0 2rem;
  }

  .btn--sub {
    font-size: 1rem;
    height: 4.25rem;
  }

  .sub-icon {
    top: -5%;
    left: 96%;
  }
  .btn--sub-icon {
    width: 4.375rem;
    height: 4.375rem;
    font-size: 2rem;
  }

  /* footer */

  footer {
    margin-top: 10.4rem;
    margin-bottom: 5rem;
  }

  .discover {
    margin-top: 0.5rem;
  }

  .btn--fb {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }
  .btn--instagram {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }

  .btn--twitter {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }

  .discover-our-app {
    margin: 1.6rem 0 1rem 0;
    font-size: 1.25rem;
    line-height: 124.5%;
    letter-spacing: 0.005em;
  }

  .btn--discover {
    padding: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2.25rem;
    height: 2.25rem;
  }

  .col--discover-text {
    padding-right: 0;
    padding-left: 0.8rem !important;
  }

  .col--discover {
    padding: 0.25rem 0.4rem 0 0 !important;
  }

  .row--discover {
    padding-left: 0.75rem;
  }

  .btn--discover--available {
    font-size: 0.5rem;
  }

  .btn--discover--app {
    font-size: 0.5rem;
  }

  .btn--discover--apple-available {
    font-size: 0.3rem;
  }

  .btn--discover--apple-app {
    font-size: 0.6rem;
  }

  .name {
    font-size: 2.75rem;
    line-height: 4.125rem;
  }

  .tagline {
    padding-right: 2rem;
    font-size: 0.8125rem;
    line-height: 124.5%;
  }

  .title {
    margin-bottom: 1.5rem;
    font-size: 1.3125rem;
    line-height: 124.5%;
  }

  .detail {
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    line-height: 124.5%;
  }

  .copyrights {
    margin-top: 5.5rem;
    font-size: 0.875rem;
    line-height: 124.5%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    background: #ffffff;
  }
  body {
    background: lightcoral;
    margin: 3% 10% 0 10%;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }

  .navbar-nav a {
    padding: 0.5rem 1rem !important;
    font-size: 0.64rem;
  }

  .decore .decore__elipse {
    top: 0;
    bottom: 0;
    left: -28%;
    width: 20rem;
    height: 20rem;
  }

  .decore .decore__ellipse2 {
    bottom: 0;
    right: 0;
  }

  .decore .decore__random {
    z-index: 0;
    top: 0;
    right: 0;
  }
  .decore__img__random {
    width: 75%;
  }
  .decore .decore__line {
    z-index: -1;
    top: 27%;
    left: 50%;
  }

  .desc {
    margin-top: 9rem;
  }

  .desc .desc__tagline {
    font-size: 1rem;
    line-height: 1rem;
  }

  .desc .desc__heading {
    margin-top: 1rem;
    font-size: 4.25rem;
    line-height: 4.6rem;
    letter-spacing: -0.04em;
  }

  .desc .desc__text {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  .desc__img {
    right: 1%;
    top: 3%;
  }

  .desc__img__traveller {
    width: 75%;
    margin-right: 0;
  }
  .desc__img__plane1 {
    top: 2%;
    left: 40%;
  }

  .desc__img__plane2 {
    top: 4%;
    left: 79%;
  }

  .cta {
    margin-top: 1rem;
  }

  .btn--cta {
    width: 7.5rem !important;
    height: 3.25rem !important;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .btn--cta__play {
    width: 3rem;
    height: 3rem;
    margin: 0.4rem;
  }

  .cta-text {
    padding: 0.9rem;
    font-size: 1.06rem;
    line-height: 1.5rem;
  }

  .category {
    margin-top: 10rem;
    margin-bottom: 2rem;
  }

  .category .decore__plus {
    top: 0;
    bottom: 0;
    right: -8%;
  }

  .decore__plus img {
    width: 100%;
  }

  .category .category__heading {
    font-weight: 600;
    font-size: 1.12rem;
    line-height: 1.7rem;
  }

  .category .category__tagline {
    font-size: 3.12rem;
    line-height: 4rem;
  }
  .category-horizontal {
    margin-top: 4rem;
  }
  .category .category__card {
    z-index: 1;
    border: 0;
    margin: 0 1.125rem 0 1.125rem;
    border-radius: 2rem;
  }

  .category__card--img {
    margin: 2.5rem 0 1rem 0 !important;
    width: 30%;
    height: 4.5rem;
  }

  .category .category__name {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.7rem;
  }

  .category .category__text {
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.65rem;
  }
  .category-rec {
    bottom: 15%;
    left: -5%;
    width: 6rem;
    height: 6rem;
    border-radius: 1.875rem 0 0.625rem;
  }

  /* destination UI */
  .dest {
    margin-top: 2rem;
  }

  .dest .dest__heading {
    font-size: 1.125rem;
    line-height: 1.7rem;
  }

  .dest .dest__tagline {
    margin-top: 0.6rem;
    font-size: 3.125rem;
    line-height: 4rem;
  }

  .dest .dest__horizontal {
    margin-top: 3.75rem;
  }

  .dest .dest__card {
    padding: 0;
    border: 0;
    margin: 0 1.125rem 0 1.125rem;
  }
  .dest__card--img {
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .card-body--dest {
    padding: 0 !important;
  }

  .dest .dest__name {
    font-size: 1rem;
    line-height: 124.5%;
  }

  .dest .dest__total {
    font-size: 1rem;
    line-height: 124.5%;
  }

  .dest .dest__day {
    font-size: 0.9rem;
    line-height: 124.5%;
  }

  .dest .dest__decore {
    bottom: 40%;
    right: -85%;
  }
  /* book Trip */

  .bookTrip {
    margin-bottom: 2.5rem;
    top: -8.25rem;
  }

  .decore-bookTrip {
    top: 0%;
    right: 5%;
    width: 22rem;
    height: 22rem;
  }

  .bookTrip .bookTrip__heading {
    margin: 1rem 0 1.5rem 0;
    padding-right: 1rem;
    font-size: 3.125rem;
    line-height: 4rem;
  }

  .bookTrip .bookTrip__tagline {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.7rem;
  }

  .bookTrip .bookTrip__steps {
    padding-right: 7rem;
  }
  .card-body--values {
    padding: 1rem 2rem 1rem 2rem;
  }
  .card-values {
    text-align: left;
    margin: 0.5rem 0 0.5rem 0;
  }
  .card-values .card-values__card {
    border: 0rem;
  }
  .card-values .card-values__icon {
    border-radius: 0.8125rem;
    top: 15%;
  }

  .btn--values {
    border: 0;
    width: 3rem;
    height: 3rem;
  }

  .card-values .card-values__title {
    font-size: 1rem;
    line-height: 124.5%;
  }

  .card-values .card-values__text {
    font-size: 1rem;
    line-height: 124.5%;
  }
  .bookTrip .bookTrip__card {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: 0rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 1.5rem;
  }

  .card-body--bookTrip {
    padding: 1rem 0 0 0;
  }

  .bookTrip__card--img {
    border-radius: 1.5rem;
  }

  .bookTrip__card .bookTrip__card__title {
    font-size: 1rem;
    line-height: 124.5%;
    letter-spacing: 0.015em;
    margin-bottom: 0.8rem;
  }

  .bookTrip__card .bookTrip__card__subtitle {
    font-size: 0.875rem;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    margin-bottom: 1.25rem;
  }
  .btn--option {
    font-size: 0.7rem;
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 2rem;
    border: 0;
  }

  .bookTrip__card__quantity {
    font-size: 0.8rem;
    line-height: 124.5%;
    letter-spacing: -0.02em;
  }

  .bookTrip__card__icon-heart {
  }
  .ongoing {
    width: 80%;
    top: 47%;
    left: 50%;
  }
  .card-ongoing {
    margin-bottom: 0.25rem;
  }

  .card-ongoing .card-ongoing__img {
    margin-left: 1.25rem;
    top: 15%;
    width: 2.75rem;
    height: 2.75rem;
  }

  .card-ongoing .card-ongoing__title {
    font-size: 0.75rem;
    line-height: 124.5%;
    letter-spacing: -0.035em;
  }

  .card-ongoing .card-ongoing__text {
    font-size: 1rem;
    line-height: 124.5%;
    letter-spacing: -0.015em;
  }

  .card-ongoing .card-ongoing__percent {
    font-size: 0.875rem;
    line-height: 124.5%;
    letter-spacing: -0.055em;
  }

  .progress {
    height: 5px;
  }

  /* testimonial */

  .testi {
    margin-top: -3rem;
    margin-bottom: 3rem;
  }

  .testi .testi__horizontal {
    margin: 0.5rem 0 3rem 0;
  }

  .testi .testi__tagline {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.7rem;
  }

  .testi .testi__heading {
    font-size: 3.125rem;
    line-height: 4rem;
  }

  .carousel-indicators {
    right: auto;
    margin-left: auto;
  }

  .carousel-indicators [data-bs-target] {
    width: 0.75rem;
    margin-right: 20px;
    height: 0.75rem;
  }

  .testi .testi__slider {
    margin-top: 5rem;
  }
  .testi__card--hide {
    top: 27%;
    left: 16%;
  }

  .testi__card__img {
    width: 3rem;
    height: 3rem;
    top: -9%;
    left: -6%;
  }
  .testi__card__text {
    font-size: 0.75rem;
    line-height: 1.5rem;
    width: 90%;
    margin-bottom: 0.5rem;
  }
  .testi__card__name {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 2rem;
  }
  .testi__card__info {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }

  .card-body--testi-lg {
    padding: 1.5rem 2rem 7rem 2rem !important;
  }

  .card-body--testi-sm {
    padding: 2rem 1rem 1.5rem 2rem;
  }

  .carousel-indicators--testi {
    padding: 0 0.75rem 0 0.75rem;
    top: 60%;
    left: -92%;
  }

  .testi-chevron {
    padding: 1.5rem 0 1.5rem 0;
  }

  /* logos */

  .logos {
    margin: 3.5rem 0 5rem 0;
  }

  .card--logos {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  .logos-card-img {
    width: 6.5rem;
    height: 2rem;
  }

  /* subscribe */

  .sub {
    margin-top: 6.5rem;
    margin-bottom: 5.5rem;
  }

  .decore__plus2 {
    bottom: -18%;
    right: -9%;
  }

  .decore__plus2 img {
    width: 75%;
  }

  .decore__circle {
    bottom: 0%;
    left: -11%;
  }

  .decore__circle2 {
    bottom: 12%;
    right: 0%;
  }

  .decore__circle img {
    width: 80%;
  }

  .decore__circle2 img {
    width: 80%;
  }

  .sub-img {
    height: 20rem;
  }
  .sub-text {
    margin: 2.5rem 6.25rem 2.625rem 6.25rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3.375rem;
  }
  .input-group {
    padding-right: 1.5rem;
    width: 80%;
    height: 4.25rem;
  }
  .email-icon {
    padding: 0 0.5rem 0 2rem;
  }

  .btn--sub {
    font-size: 1rem;
    height: 4.25rem;
  }

  .sub-icon {
    top: -5%;
    left: 96%;
  }
  .btn--sub-icon {
    width: 4.375rem;
    height: 4.375rem;
    font-size: 2rem;
  }

  /* footer */

  footer {
    margin-top: 10.4rem;
    margin-bottom: 5rem;
  }

  .discover {
    margin-top: 0.5rem;
  }

  .btn--fb {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }
  .btn--instagram {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }

  .btn--twitter {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }

  .discover-our-app {
    margin: 1.6rem 0 1rem 0;
    font-size: 1.25rem;
    line-height: 124.5%;
    letter-spacing: 0.005em;
  }

  .btn--discover {
    padding: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2.25rem;
    height: 2.25rem;
  }

  .col--discover-text {
    padding-right: 0;
    padding-left: 0.8rem !important;
  }

  .col--discover {
    padding: 0.25rem 0.4rem 0 0 !important;
  }

  .row--discover {
    padding-left: 0.75rem;
  }

  .btn--discover--available {
    font-size: 0.5rem;
  }

  .btn--discover--app {
    font-size: 0.5rem;
  }

  .btn--discover--apple-available {
    font-size: 0.3rem;
  }

  .btn--discover--apple-app {
    font-size: 0.6rem;
  }

  .name {
    font-size: 2.75rem;
    line-height: 4.125rem;
  }

  .tagline {
    padding-right: 2rem;
    font-size: 0.8125rem;
    line-height: 124.5%;
  }

  .title {
    margin-bottom: 1.5rem;
    font-size: 1.3125rem;
    line-height: 124.5%;
  }

  .detail {
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    line-height: 124.5%;
  }

  .copyrights {
    margin-top: 5.5rem;
    font-size: 0.875rem;
    line-height: 124.5%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo {
    background: #ffffff;
  }
  body {
    margin: 3% 10% 0 10%;
    background: #ffffff;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }

  .navbar-nav a {
    padding: 0.5rem 1.4rem !important;
    font-size: 0.83rem;
  }

  .decore .decore__elipse {
    top: 0;
    bottom: 0;
    left: -28%;
    width: 20rem;
    height: 20rem;
  }

  .decore .decore__ellipse2 {
    bottom: 0;
    right: 0;
  }

  .decore .decore__random {
    z-index: 0;
    top: 0;
    right: 0;
  }
  .decore__img__random {
    width: 100%;
  }
  .decore .decore__line {
    z-index: -1;
    top: 27%;
    left: 50%;
  }

  .desc {
    margin-top: 9rem;
  }

  .desc .desc__tagline {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .desc .desc__heading {
    margin-top: 1.5rem;
    font-size: 5.25rem;
    line-height: 5.6rem;
    letter-spacing: -0.04em;
  }

  .desc .desc__text {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  .desc__img {
    right: 9%;
    top: 3%;
  }
  .desc__img__traveller {
    width: 100%;
  }
  .desc__img__plane1 {
    top: 7%;
    left: 17%;
  }

  .desc__img__plane2 {
    top: 13%;
    left: 90%;
  }

  .cta {
    margin-top: 2rem;
  }

  .btn--cta {
    width: 10.5rem !important;
    height: 3.5rem !important;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .btn--cta__play {
    width: 3rem;
    height: 3rem;
    margin: 0.4rem;
  }

  .cta-text {
    padding: 0.9rem;
    font-size: 1.06rem;
    line-height: 1.5rem;
  }

  .category {
    margin-top: 16rem;
    margin-bottom: 2rem;
  }

  .category .decore__plus {
    top: 0;
    bottom: 0;
    right: -8%;
  }

  .category .category__heading {
    font-weight: 600;
    font-size: 1.12rem;
    line-height: 1.7rem;
  }

  .category .category__tagline {
    font-size: 3.12rem;
    line-height: 4rem;
  }
  .category-horizontal {
    margin-top: 4rem;
  }
  .category .category__card {
    z-index: 1;
    border: 0;
    margin: 0 1.125rem 0 1.125rem;
    border-radius: 2rem;
  }

  .category__card--img {
    margin: 2.5rem 0 1rem 0 !important;
    width: 50%;
    height: 6rem;
  }

  .category .category__name {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.7rem;
  }

  .category .category__text {
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.65rem;
  }
  .category-rec {
    bottom: 15%;
    left: -5%;
    width: 6rem;
    height: 6rem;
    border-radius: 1.875rem 0 0.625rem;
  }

  /* destination UI */
  .dest {
    margin-top: 2rem;
  }

  .dest .dest__heading {
    font-size: 1.125rem;
    line-height: 1.7rem;
  }

  .dest .dest__tagline {
    margin-top: 0.6rem;
    font-size: 3.125rem;
    line-height: 4rem;
  }

  .dest .dest__horizontal {
    margin-top: 3.75rem;
  }

  .dest .dest__card {
    padding: 0;
    border: 0;
    margin: 0 1.125rem 0 1.125rem;
  }
  .dest__card--img {
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .card-body--dest {
    padding: 0 !important;
  }

  .dest .dest__name {
    font-size: 1.125rem;
    line-height: 124.5%;
  }

  .dest .dest__total {
    font-size: 1.125rem;
    line-height: 124.5%;
  }

  .dest .dest__day {
    font-size: 1rem;
    line-height: 124.5%;
  }

  .dest .dest__decore {
    bottom: 40%;
    right: -85%;
  }
  /* book Trip */

  .bookTrip {
    margin-bottom: 2.5rem;
    top: -6.25rem;
  }

  .decore-bookTrip {
    top: 0%;
    right: 5%;
    width: 22rem;
    height: 22rem;
  }

  .bookTrip .bookTrip__heading {
    margin: 1rem 0 1.5rem 0;
    padding-right: 1rem;
    font-size: 3.125rem;
    line-height: 4rem;
  }

  .bookTrip .bookTrip__tagline {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.7rem;
  }

  .bookTrip .bookTrip__steps {
    padding-right: 7rem;
  }
  .card-body--values {
    padding: 1rem 3rem 1rem 1.3rem;
  }
  .card-values {
    text-align: left;
    margin: 0.5rem 0 0.5rem 0;
  }
  .card-values .card-values__card {
    border: 0rem;
  }
  .card-values .card-values__icon {
    border-radius: 0.8125rem;
    top: 15%;
  }

  .btn--values {
    border: 0;
    width: 3rem;
    height: 3rem;
  }

  .card-values .card-values__title {
    font-size: 1rem;
    line-height: 124.5%;
  }

  .card-values .card-values__text {
    font-size: 1rem;
    line-height: 124.5%;
  }
  .bookTrip .bookTrip__card {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: 0rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 1.5rem;
  }

  .card-body--bookTrip {
    padding: 1rem 0 1rem 0;
  }

  .bookTrip__card--img {
    border-radius: 1.5rem;
  }

  .bookTrip__card .bookTrip__card__title {
    font-size: 1.125rem;
    line-height: 124.5%;
    letter-spacing: 0.015em;
    margin-bottom: 0.8rem;
  }

  .bookTrip__card .bookTrip__card__subtitle {
    font-size: 1rem;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    margin-bottom: 1.25rem;
  }
  .btn--option {
    font-size: 1rem;
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 2rem;
    border: 0;
  }

  .bookTrip__card__quantity {
    font-size: 1rem;
    line-height: 124.5%;
    letter-spacing: -0.02em;
  }

  .bookTrip__card__icon-heart {
  }
  .ongoing {
    width: 80%;
    top: 49%;
    left: 60%;
  }
  .card-ongoing {
    margin-bottom: 0.25rem;
  }

  .card-ongoing .card-ongoing__img {
    margin-left: 1.25rem;
    top: 15%;
    width: 3.125rem;
    height: 3.125rem;
  }

  .card-ongoing .card-ongoing__title {
    font-size: 0.875rem;
    line-height: 124.5%;
    letter-spacing: -0.035em;
  }

  .card-ongoing .card-ongoing__text {
    font-size: 1.125rem;
    line-height: 124.5%;
    letter-spacing: -0.015em;
  }

  .card-ongoing .card-ongoing__percent {
    font-size: 0.875rem;
    line-height: 124.5%;
    letter-spacing: -0.055em;
  }

  .progress {
    height: 5px;
  }

  /* testimonial */

  .testi {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }

  .testi .testi__horizontal {
    margin: 0.5rem 0 3rem 0;
  }

  .testi .testi__tagline {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.7rem;
  }

  .testi .testi__heading {
    font-size: 3.125rem;
    line-height: 4rem;
  }

  .carousel-indicators {
    right: auto;
    margin-left: auto;
  }

  .carousel-indicators [data-bs-target] {
    width: 0.75rem;
    margin-right: 20px;
    height: 0.75rem;
  }

  .testi .testi__slider {
    margin-top: 5rem;
  }
  .testi__card--hide {
    top: 27%;
    left: 12%;
  }

  .testi__card__img {
    width: 3rem;
    height: 3rem;
    top: -9%;
    left: -6%;
  }
  .testi__card__text {
    font-size: 1rem;
    line-height: 2rem;
    width: 90%;
    margin-bottom: 2rem;
  }
  .testi__card__name {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 3.375rem;
  }
  .testi__card__info {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }

  .card-body--testi-lg {
    padding: 1.5rem 2rem 7rem 2rem !important;
  }

  .card-body--testi-sm {
    padding: 2rem 1rem 1.5rem 2rem;
  }

  .carousel-indicators--testi {
    padding: 0 0.75rem 0 0.75rem;
    top: 60%;
    left: -92%;
  }

  .testi-chevron {
    padding: 1.5rem 0 1.5rem 0;
  }

  /* logos */

  .logos {
    margin: 3.5rem 0 5rem 0;
  }

  .card--logos {
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  }

  .logos-card-img {
    width: 6.5rem;
    height: 2rem;
  }

  /* subscribe */

  .sub {
    margin-top: 9.5rem;
    margin-bottom: 9.5rem;
  }

  .decore__plus2 {
    bottom: -18%;
    right: -9%;
  }

  .decore__plus2 img {
    width: 100%;
  }

  .decore__circle {
    bottom: 0%;
    left: -8%;
  }

  .decore__circle2 {
    bottom: 12%;
    right: 0%;
  }

  .decore__circle img {
    width: 100%;
  }

  .decore__circle2 img {
    width: 100%;
  }

  .sub-img {
    height: 25rem;
  }
  .sub-text {
    margin: 2.5rem 6.25rem 4.625rem 6.25rem;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.375rem;
  }
  .input-group {
    padding-right: 1.5rem;
    width: 80%;
    height: 4.25rem;
  }
  .email-icon {
    padding: 0 0.5rem 0 2rem;
  }

  .btn--sub {
    font-size: 1rem;
    height: 4.25rem;
  }

  .sub-icon {
    top: -5%;
    left: 96%;
  }
  .btn--sub-icon {
    width: 4.375rem;
    height: 4.375rem;
    font-size: 2rem;
  }

  /* footer */

  footer {
    margin-top: 10.4rem;
    margin-bottom: 5rem;
  }

  .discover {
    margin-top: 0.5rem;
  }

  .btn--fb {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }
  .btn--instagram {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }

  .btn--twitter {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
  }

  .discover-our-app {
    margin: 1.6rem 0 1rem 0;
    font-size: 1.25rem;
    line-height: 124.5%;
    letter-spacing: 0.005em;
  }

  .btn--discover {
    padding: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2.25rem;
    height: 2.25rem;
  }

  .col--discover-text {
    padding-right: 0;
    padding-left: 0.8rem !important;
  }

  .col--discover {
    padding: 0 0.4rem 0 0 !important;
  }

  .row--discover {
    padding-left: 0.75rem;
  }

  .btn--discover--available {
    font-size: 0.5rem;
  }

  .btn--discover--app {
    font-size: 0.5rem;
  }

  .btn--discover--apple-available {
    font-size: 0.3rem;
  }

  .btn--discover--apple-app {
    font-size: 0.6rem;
  }

  .name {
    font-size: 2.75rem;
    line-height: 4.125rem;
  }

  .tagline {
    padding-right: 2rem;
    font-size: 0.8125rem;
    line-height: 124.5%;
  }

  .title {
    margin-bottom: 1.5rem;
    font-size: 1.3125rem;
    line-height: 124.5%;
  }

  .detail {
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    line-height: 124.5%;
  }

  .copyrights {
    margin-top: 5.5rem;
    font-size: 0.875rem;
    line-height: 124.5%;
  }
}
